<body>
    <div class= "flex items-center justify-center flex-col pt-6">
        <div>
            <img src="assets/img/otvferreira.png" alt="imgotv" class="pb-6">
        </div>
    </div>
    <div>
        <ul class="flex items-center justify-center flex-col">
            <li><h1 class="text-center text-FFFFFF text-5xl">Olá, eu sou o Otávio</h1></li>
            <li><h1 class="py-4 text-4FC3F7 text-2xl">Backend Developer</h1></li>
            <li><h3 class="pb-1 text-center text-C1C1C1">
                Foco no desenvolvimento de softwares, defensor da tecnologia como catalisadora do progresso. 
                <br>Com 4 anos de experiência, aprimorando diariamente minhas habilidades em Java, Spring e Angular.
                </h3>
            </li>
        </ul>
    </div>
</body>