<body>
    <div class= "flex items-center justify-center flex-col">
        <div class="pt-12">
            <img src="assets/img/Ellipse 5.svg" alt="imgotv" class="">
        </div>
    </div>
    <div>
        <ul class="flex items-center justify-center flex-col">
            <li><h1 class="pt-6 text-center text-FFFFFF text-6xl">Olá, eu sou o Otávio</h1></li>
            <li><h1 class="py-4 text-4FC3F7 text-2xl">Java Developer</h1></li>
            <li><h3 class="text-center text-C1C1C1">
                Foco no desenvolvimento de softwares, defensor da tecnologia como catalisadora do progresso. 
                <br>Com 4 anos de experiência, aprimorando diariamente minhas habilidades em Java, Spring e Angular.
                </h3>
            </li>
        </ul>
    </div>
</body>