<header class="flex justify-evenly p-4 w-full px-10 bg-1A1A1A z-50">
    <div class="pt-3">
        <span class="text-2xl text-C1C1C1 cursor-pointer hover:text-4FC3F7">&lt;OtF&gt;</span>
    </div>
    <div class="flex justify-center text-white p-4">
        <nav class="flex-1">
            <ul class="flex justify-center space-x-8 cursor-pointer scroll-smooth">
                <li><a class="text-[#C1C1C1] hover:text-4FC3F7" href="#main">Home</a></li>
                <li><a class="text-[#C1C1C1] hover:text-4FC3F7" href="#experiencias">Experiências</a></li>
                <li><a class="text-[#C1C1C1] hover:text-4FC3F7" href="#projetos">Projetos</a></li>
                <li><a class="text-[#C1C1C1] hover:text-4FC3F7">Sobre</a></li>
            </ul>
        </nav>
    </div>
    <div class="pt-3">
        <button class="border-2 border-C1C1C1 text-C1C1C1 hover:text-4FC3F7 hover:border-4FC3F7 px-4 rounded-lg">
            Contato
        </button>
    </div>
</header>
