<header class="fixed top-0 left-1/2 transform -translate-x-1/2 w-full max-w-5xl p-6 text-white flex items-center justify-between" style="padding-top: 64px;">
    <div class="flex items-center">
        <span class="text-2xl text-C1C1C1 cursor-pointer">&lt;O/F&gt;</span>
    </div>
    <nav class="flex-1">
        <ul class="flex justify-center space-x-8">
            <li><a href="#" class="text-C1C1C1 hover:text-4FC3F7">Home</a></li>
            <li><a href="#" class="text-C1C1C1 hover:text-4FC3F7">Sobre</a></li>
            <li><a href="#" class="text-C1C1C1 hover:text-4FC3F7">Projetos</a></li>
        </ul>
    </nav>
    <div>
        <button class="border-2 border-4FC3F7 text-C1C1C1 hover:text-4FC3F7 py-1 px-4 rounded-lg">
            Contato
        </button>
    </div>
</header>
