<main class="flex items-center justify-center">
    <ul class="flex items-center justify-center space-y-2">
        <li class="list-none p-1">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" alt="java.svg" class="h-14 w-auto">
        </li>
        <li class="list-none p-1">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" alt="spring.svg" class="h-10 w-auto">
        </li>
        <li class="list-none p-1">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" alt="angular.svg" class="h-14 w-auto">
        </li>
        <li class="list-none p-1">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain.svg" alt="git.svg" class="h-12 w-auto">
        </li>
        <li class="list-none p-1">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" alt="mysql.svg" class="h-12 w-auto">
        </li>
        <li class="list-none p-1">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" alt="postgre.svg" class="h-12 w-auto">
        </li>
    </ul>
</main>
